@import "tailwindcss";
@plugin './hero.ts';
@config "../tailwind.config.js";
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Black.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Black.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Bold.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Bold.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-ExtraBold.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-ExtraBold.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-ExtraLight.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-ExtraLight.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Medium.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Medium.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Light.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Light.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Regular.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Regular.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-SemiBold.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-SemiBold.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Thin.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Thin.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lexend-deca";
  src: url("/fonts/lexend-deca/LexendDeca-Light_1.woff2") format("woff2"),
    url("/fonts/lexend-deca/LexendDeca-Light_1.woff") format("woff"),
    url("/fonts/lexend-deca/LexendDeca-Light_1.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-desa-dark-green: rgb(52 97 58 / var(--tw-bg-opacity, 1));
}

@layer base {
  :root {
    --font-lexend-deca: "lexend-deca", sans-serif;
  }

  body {
    font-family: var(--font-lexend-deca);

    @apply bg-[#f2f9f6] text-[#001b1a];
  }
}
